{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
    <div class="ui page stackable grid">
        <div class="row">
            <div class="eight wide centered column">
                <form class="ui form" method="post" action="{% url 'accounts:password-reset' %}">
                    {% csrf_token %}
                    <input type="hidden" name="token" value="{{ token }}">
                    {% if error %}
                    <div class="ui yellow message">
                        <p>{{ error }}</p>
                    </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui huge left icon input">
                            <i class="key icon"></i>
                            <input type="password" name="password" placeholder="{% trans 'New Password' %}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui huge left icon input">
                            <i class="key icon"></i>
                            <input type="password" name="password_again" placeholder="{% trans 'Confirm New Password' %}">
                        </div>
                    </div>
                    <input class="ui submit big fluid primary button" type="submit" value="{% trans 'Reset' %}" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}
