{% extends "base.html" %}
{% load i18n %}

{% block content %}
    
    <div class="ui page stackable grid">
        <div class="row">
            <div class="seven wide centered column">
                <h1 class="ui header">
                    {% trans 'Reset your password' %}
                    <div class="sub header">{% trans 'We will send you an email with a link so you can change it.' %}</div>
                </h1>
                <form class="ui form" method="post" action="{% url 'accounts:password-reset' %}">
                    {% csrf_token %}
                    {% if error %}
                    <div class="ui yellow message">
                        <p>{{ error }}</p>
                    </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui huge left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="{% trans 'Account Email' %}">
                        </div>
                    </div>
                    <input class="ui submit big fluid primary button" type="submit" value="{% trans 'Send' %}" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}
