{% extends "accounts/profile.html" %}
{% load i18n %}

{% block menu %}
    {% with "settings" as active_tab %} 
    {{ block.super }}
    {% endwith %}
{% endblock %}

{% block subcontent %}
    
    <div class="ui top attached secondary segment">
        <h3 class="ui header">{% trans 'Settings' %}</h3>
    </div>
    <div class="ui attached segment">
        <p>{% trans 'Want to change your password?' %} <a href="{% url 'accounts:password-reset' %}" class="ui blue tiny button">{% trans 'Reset Password' %}</a></p>
    </div>

{% endblock %}
